:root {
    --color-green: #4B9200;
    --color-orange: #F9804B;
    --color-orange-light: #FE9013;
    --color-orage-dark: #E47209;
    --color-orange-gradient: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    --color-yellow: #FFEE2E;
    --color-red: #D31414;
    --color-pink-gradient: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    --color-black-blue: #333B41;
    --color-grey: #767474;
    --color-grey-smoky: #ABABAB;
    --color-light-grey: #F1F3F2;
    --color-grey-fog:#BDBDBD;
    --color-fosted-glass-white: #FDFDFF;
    --color-black-fog: #111115;
}

html {
	scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: auto;
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

a {
    text-decoration: none;
}

button {
    width: 298px;
	height: 54px;
    font-weight: 500;
	font-size: 15px;
	line-height: 140%;
	color: #fff;
    border: none;
    text-transform: uppercase;
	cursor: pointer;
}

button:hover {
    background: var(--color-orage-dark);
    transition: all 0.5s ease-in;
}

button:active {
    background: var(--color-green);
}

.desktop_wrapper {
    background: url(../../assets/images/background_Giant-Panda.png);
    background-repeat: no-repeat;
    justify-content: center;
    background-position: center 0px;
    background-size: 100%;
}

.wrapper {
    position: relative;
    width: 1160px;
    margin: 0 auto;
}

/* -----HEADER----- */
header {
    margin: 0;
    display: flex;
	flex-direction: row;
    background-color: #000;
}

.header_logo {
    position: relative;
    padding: 0;
    align-items: center;
}

.bamboo_icon {
    position: absolute;
    margin-left: 10px;
    margin-top: 38px;
    width: 12px;
    height: 21px;
}

h1 {
    position: absolute;
    margin: 14px 0px 14px 0px;
    padding: 2px 0px 1px 0px;
    width: 82px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    font-size: 19.01px;
    line-height: 120%;
    border: 1px solid #fff;
}

h1:hover {
    color: var(--color-grey-fog);
    transition: all 0.5s ease-in;
    border: 1px solid var(--color-grey-fog);
}

.nav_menu {
    width: 100%;
    display: flex;
	flex-direction: row;
    align-items: stretch;
    margin-left: 88px;
    overflow-y: hidden;
}

.nav_item {
    margin: 29px 0px 29px 58px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

.item_active {
    background: var(--color-orange-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.nav_item:hover {
    background: var(--color-orange-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transition: all 0.5s ease-in;
}

.designed_by {
    margin-left: 439px;
}

/* -----WATCH ONLINE----- */
.watch_online_block {
    padding-bottom: 100px;
}

.circle_block {
    position: relative;
    width: 465px;
    height: 465px;
    margin-top: 12px;
    margin-left: 587px;
    background-color: var(--color-orange);
    border-radius: 50%;
    align-items: center;
}

.circle_block h2 {
    position: absolute;
    margin-top: 73px;
    margin-left: 73px;
    width: 500.31px;
    height: 400px;
    font-weight: 700;
    font-size: 106.5px;
    line-height: 75%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.circle_block span {
    color: var(--color-yellow);
}

.button_watch {
    margin-top: 69px;
    margin-left: calc(50% - 298px/2 + 332px);
    background: var(--color-orange-gradient);
	border-radius: 25px;
}

/* -----BACKSTAGE----- */
.backstage_block {
    position: relative;
    background-color: #fff;
    padding-top: 140px;
    padding-bottom: 104px;
    align-items: center;
    max-width: 100%;
    background-image: url(../../assets/images/flower_foto.png);
    background-repeat: no-repeat;
    background-position-y: 24%;
    background-position-x: 100%;
}

.backstage_content {
    display: flex;
    flex-direction: row;
}

.backstage_image {
    width: 609px;
    height: 403px;
}

.backstage_textblock {
    max-width: 500px;
    padding-left: 85px;
    overflow: hidden;
}
.backstage_textblock h2 {
    margin: 0;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: var(--color-black-blue);
}

.backstage_textblock h3 {
    margin-top: 55px;
    margin-bottom: 33px;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: var(--color-black-blue);
}

.backstage_text1 {
    margin-top: 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--color-black-blue);
}
.backstage_text2{
    margin-top: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--color-black-blue);
}

/* -----PETS----- */
.pets_block {
    background-color: #fff;
    align-items: center;
    padding-top: 57px;
    padding-bottom: 100px;
    background-image: url('../../assets/images/palm_foto.png'), url('../../assets/images/strelitzia_foto.png');
    background-position: 0% 100%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
}

.pets_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider_pets {
    display: flex;
    flex-direction: row;
}

.cards_container {
    display: grid;
    column-gap: 28px;
    row-gap: 18px;
    grid-template-columns: repeat(3, 1fr);
}

.arrow_left {
    height: 62px;
    width: 62px;
    margin-top: 404px;
    margin-right: 18px;
    border-radius: 100px;
    border: none;
    background: var(--color-orange-gradient);
    cursor: pointer;
}

.arrow_right {
    height: 62px;
    width: 62px;
    margin-top: 404px;
    margin-left: 18px;
    border-radius: 100px;
    border: none;
    background: var(--color-orange-gradient);
    cursor: pointer;
}

.pet_card {
    width: 366px;
    height: 426px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-orange);
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.5s ease-in;
}

.pet_info {
    margin: 0;
    display: flex;
    flex-direction: row;
}

.pet_image {
    margin: 0;
    width: 366px;
    height: 366px;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    border-style: none;
    transition: all 0.5s ease-in;
}

.pet_info_text {
    margin: 7px 0px 16px 16px;
    width: 294px;
}

.pet_info_text h4 {
    margin: 0;
    margin-bottom: -4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000;
}

.pet_info_text p {
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #000;
}

.banana_bamboo_img {
    margin: 10px 13px 13px 11px;
    width: 33px;
    height: 37px;
}
.meat_fish_img {
    margin: 8px 13px 13px 0px;
    width: 48px;
    height: 38px;
}

.button_choose {
    margin-top: 78px;
    background: var(--color-orange-gradient);
	border-radius: 25px;
}

.pet_card:hover {
    background: var(--color-black-blue);
}

.pet_card:hover .pet_image {
    filter: brightness(0.50);
    transform: scale(1.1);
    margin-top: 30px;
}

.pet_card:hover .banana_bamboo_img,
.pet_card:hover .meat_fish_img {
    display: none;
}

.pet_card:hover .pet_info {
    transform: translate(0, -350%);
    transition: all 0.5s ease-in;
}

.pet_card:hover .pet_info_text h4,
.pet_card:hover .pet_info_text p {
    color: #fff;
    transform: scale(1.1);
    line-height: 140%;
}

/* -----PICK AND FEED----- */
.pick_feed_block {
    padding-top: 70px;
    padding-bottom: 100px;
    background: #fff;
    background-image: url(../../assets/images/background_pick-and-feed.png);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 1.1;
}

.pick_feed_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.pick_feed_textblock  {
    margin-left: 40px;
    margin-bottom: 11px;
    text-align: left;
    color: var(--color-black-blue);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}

.pick_feed_textblock h2 {
    margin: 40px auto 31px 251px;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: left;
    color: var(--color-orange-light);
}

.pick_feed_textblock .subtitle {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 40px;
}

.pick_feed_textblock .text_bold {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: -5px;
}

.pick_feed_textblock .support_link {
    position: relative;
    color: #333B41;
    text-decoration: none;
}

.support_link::after {
    content: "";
    position: absolute;
    width: 178px;
    left: 0;
    top: 21.5px;
    border-bottom: 1px solid var(--color-orange-light);
}

.pick_feed_work_block h3{
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    margin-left: 478px;
    margin-bottom: 38px;
    color: var(--color-black-blue);
}

.work_table {
    padding-left: 198px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.table_item {
    width: 168px;
    height: 244px;
    display: flex;
    flex-direction: column;
}

.table_image {
    width: 168px;
    height: 168px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background: #fff;
    border: 1px solid var(--color-orage-dark);
}

.pay_image {
    padding-top: 54px;
    width: 108px;
    height: 60px;
}

.zoo_image {
    padding-top: 38px;
    width: 85.77px;
    height: 95px;
}

.monkey_image {
    padding-top: 48px;
    width: 124.75px;
    height: 71.6px;
}

.arrow_big {
    padding: 0 31px 85px 30px;
    width: 69px;
    height: 35.08px;
}

.table_item p {
    margin: 0;
    padding-top: 29px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.button_feed {
    margin: 61px 430px 59px 432px;
    background: var(--color-orange-gradient);
    border-radius: 25px;
}

/* -----TESTIMONIALS----- */
.testimonials_block {
    background-color: #fff;
    align-items: center;
    padding-top: 140px;
    padding-bottom: 180px;
    background-image: url(../../assets/images/leav_foto.png);
    background-repeat: no-repeat;
    background-position-y: 120.5%;
    background-position-x: 100%;
}

.testimonials_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials_content h3 {
    margin-top: 0px;
    margin-bottom: 47px;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: var(--color-black-blue);
}

.testimonials_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    width: 100%
}

.user_card {
    width: 268px;
    height: 388px;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(var(--color-light-grey), var(--color-light-grey)), var(--color-pink-gradient);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.user_info {
    padding: 13px 15px 10px 16px;
    display: flex;
}

.user_icon {
    width: 37px;
    height: 37px;
}

.user_text {
    margin-left: 10px;
}

.user_text h4 {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000;
}
.user_text p {
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: var(--color-grey-fog);
}

.user_feedback {
    margin: 0px 10px 19px 16px;
}

.user_feedback p {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: var(--color-grey);

}

.slider_range {
    margin: 19px auto 30px auto;
    width: 599px;
    height: 8px;
    border: 0.5px solid transparent;
    border-radius: 5px;
    background: linear-gradient(var(--color-light-grey), var(--color-light-grey)), var(--color-pink-gradient);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    cursor: pointer;
    -webkit-appearance: none;
    transition: ease-in-out .5s;
}

.slider_range::-webkit-slider-thumb {
    width: 115.19px;
    height: 6px;
    border-radius: 5px;
    background: var(--color-orange-light);
    cursor: pointer;
    -webkit-appearance: none;
}

.slider_range:focus {
    outline: none;
}

.slider_range::-webkit-slider-thumb:hover {
    background: var(--color-orage-dark);
}

.slider_range::-webkit-slider-thumb:active {
    background: var(--color-green);
}

.button_feedback {
    margin-right: 861.5px;
    background: var(--color-orange-gradient);
    border-radius: 5px;
}

/* -----FOOTER----- */
footer {
    position: relative;
    padding-top: 25px;
    background-color: var(--color-black-fog);
    display: flex;
    flex-direction: column;
}

.footer_header {
    display: flex;
    justify-content: space-between;
}

.footer_logo {
    margin-left: 0;
    margin-top: 0;
    position: relative;
    align-items: center;
}

.footer_bamboo_icon {
    position: absolute;
    margin-left: 10px;
    margin-top: 37px;
    width: 12px;
    height: 21px;
}

.footer_logo p {
    position: absolute;
    margin: 14px 0px 14px 0px;
    padding: 2px 0px 3px 0px;
    width: 82px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    font-size: 19.01px;
    line-height: 120%;
    border: 1px solid #fff;
}

.footer_logo p:hover {
    color: var(--color-grey-fog);
    transition: all 0.5s ease-in;
    border: 1px solid var(--color-grey-fog);
}

.form_subscribe {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 365px;
}

.form_subscribe p {
    margin: 0 0 14px 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #fff;
}

.input_block {
    display: flex;
    flex-direction: row;
}

.input_block input {
    width: 228px;
    padding-left: 7px;
    height: 38px;
    background-color: var(--color-black-fog);
    border: 0.7px solid var(--color-orange-light);
    border-radius: 2px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--color-grey-fog);
    outline: none;
}

.button_submit {
    margin-left: 5px;
    padding: 10px 39px;
    width: 129px;
    height: 42px;
    background: var(--color-light-grey);
    border: 1px solid var(--color-black-blue);
    border-radius: 5px;
    font-size: 16px;
    color: #000;
    text-transform: none;
}

.button_submit:hover {
    background: var(--color-light-grey);
    transition: all 0.5s ease-in;
}

.input_block input:focus {
    color: var(--color-green);
    border: 1px solid var(--color-green);
    background: var(--color-light-grey);
}

.input_block input:focus:invalid {
    color: var(--color-red);
    border: 1px solid var(--color-red);
    background: var(--color-light-grey);
}

.input_block input:focus + .button_submit {
    color: var(--color-green);
    border: 1px solid var(--color-green);
}

.input_block input:focus:invalid + .button_submit {
    color: var(--color-red);
    border: 1px solid var(--color-red);
}

.footer_content {
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 35px;
}

.footer_social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button_donate {
    background: var(--color-orange-gradient);
    border-radius: 5px;
}

.hidden_list {
    list-style-type: none;
    padding-left: 0;
}

.social_list {
    margin: 0;
}

.social_list a {
    display: flex;
    flex-direction: row;
    margin-top: -7px;
    padding: 0;
}

.social_list p {
    margin-top: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
}

.social_icon {
    margin-right: 12px;
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
}

.social_list li:hover .social_icon  {
    background: var(--color-green);
}

.social_list li:hover p{
    color: var(--color-green);
}

.facebook_icon {
    margin-top: 5px;
    margin-left: 9px;
    width: 8px;
    height: 16px;
}

.twitter_icon {
    margin-top: 6px;
    margin-left: 5px;
    width: 16px;
    height: 14px;
}

.instagram_icon {
    margin-top: 5px;
    margin-left: 5px;
    width: 16px;
    height: 16px;
}

.youtube_icon {
    margin-top: 6px;
    margin-left: 4px;
    width: 18px;
    height: 12.99px;
}

.footer_nav {
    display: flex;
    flex-direction: row;
    margin-top: 210px;
    margin-left: -7px;
}

.footer_nav .nav_item {
    margin-left: 0;
    margin-right: 58px;
}

.footer_author {
    margin-top: 180px;
    font-weight: 100;
}

.footer_author p {
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 0;
}

.footer_author a {
    cursor: pointer;
    transition: all 0.5s ease-out;
    font-size: 16px;
    line-height: 130%;
    color: #fff;
}

.footer_author a:hover {
    color: var(--color-green);
    text-decoration: underline;
}