:root {
    --color-green: #4B9200;
    --color-orange: #F9804B;
    --color-orange-light: #FE9013;
    --color-orage-dark: #E47209;
    --color-orange-gradient: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    --color-yellow: #FFEE2E;
    --color-red: #D31414;
    --color-pink-gradient: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    --color-black-blue: #333B41;
    --color-grey-light: #72828E;
    --color-grey-dark: #404950;
    --color-grey: #767474;
    --color-grey-milk: #929699;
    --color-grey-smoky: #ABABAB;
    --color-light-grey: #F1F3F2;
    --color-grey-fog:#BDBDBD;
    --color-fosted-glass-white: #FDFDFF;
    --color-black-fog: #111115;
}

html {
	scroll-behavior: smooth;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    position: relative;
    margin: auto;
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

button {
    width: 298px;
	height: 54px;
    font-weight: 500;
	font-size: 15px;
	line-height: 140%;
	color: #fff;
    border: none;
    text-transform: uppercase;
	cursor: pointer;
}

button:hover {
    background: var(--color-orage-dark);
    transition: all 0.5s ease-in;
}

button:active {
    background: var(--color-green);
}

.desktop_wrapper {
    justify-content: center;
}

.wrapper {
    position: relative;
    width: 1160px;
    margin: 0 auto;
}

/* -----HEADER----- */
header {
    margin: 0;
    display: flex;
	flex-direction: row;
    background-color: #000;
}

.header_logo {
    position: relative;
    padding: 0;
    align-items: center;
}

.bamboo_icon {
    position: absolute;
    margin-left: 10px;
    margin-top: 38px;
    width: 12px;
    height: 21px;
}

h1 {
    position: absolute;
    margin: 14px 0px 14px 0px;
    padding: 2px 0px 1px 0px;
    width: 82px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    font-size: 19.01px;
    line-height: 120%;
    border: 1px solid #fff;
}

h1:hover {
    color: var(--color-grey-fog);
    transition: all 0.5s ease-in;
    border: 1px solid var(--color-grey-fog);
}

.nav_menu {
    width: 100%;
    display: flex;
	flex-direction: row;
    align-items: stretch;
    margin-left: 88px;
    overflow-y: hidden;
}

.nav_item {
    margin: 29px 0px 29px 58px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}

.item_active {
    background: var(--color-orange-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.nav_item:hover {
    background: var(--color-orange-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transition: all 0.5s ease-in;
}

#nav_hidden {
    height: 80px;
}

#burger_menu {
    display: none;
}

.designed_by {
    margin-left: 439px;
}

.backgroud_image {
    background: url(../../assets/images/backgroud_panda_bg.png);
    background-repeat: no-repeat;
    justify-content: center;
    background-size: cover;
    height: 386px;
}

/* -----PICK AND FEED----- */
.pick_feed_block {
    padding-top: 30px;
    padding-bottom: 179px;
    background: #fff;
    background-image: url(../../assets/images/background_pick-and-feed_big.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1.1;
}

.pick_feed_info h3 {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #fff;
}

h3.donation_title {
    color: var(--color-orange-light);
}

.pick_feed_info p {
    margin-top: 10px;
    margin-bottom: 45px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
}

.pick_feed_content {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    height: 964px;
}

.pick_feed_textblock  {
    margin-left: 40px;
    margin-bottom: 11px;
    color: var(--color-black-blue);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}

.pick_feed_textblock h2 {
    margin: 40px auto 21px 250px;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: var(--color-orange-light);
}

.pick_feed_textblock .subtitle {
    margin-top: 0;
    margin-right: 170px;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 40px;
}

.pick_feed_donate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.donate_diet {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 540px;
}

.donate_diet_day {
    margin: 0;
    margin-top: 114px;
    display: flex;
    flex-direction: column;
}

.donate_diet_day .diet_day_number {
    margin: 0;
    margin-left: 57px;
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    color: #000;
    text-transform: uppercase;
}

.donate_diet_day .diet_day_text {
    margin-top: 12px;
    margin-left: -3px;
}

.pick_feed_x {
    width: 14px;
    height: 14px;
    margin: 136px 64px auto 11px;
}

.pick_feed_image {
    margin-top: 8px;
    width: 284px;
    height: 246px;
}

/* -----VALUE CONTAINER----- */
.donate_container {
    margin-left: 1px;
    width: 976px;
    margin-top: 34px;
}

.donate_container_title {
    margin: 14px auto 17px 3px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000;
}

.donate_container_background {
    margin-bottom: 12px;
    width: 100%;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-grey-dark);
    border-radius: 2px;
}

.donate_container_line {
    width: 915px;
    height: 2px;
    background: var(--color-grey-light);
    z-index: 1;
}

.donate_container_slider {
    margin-top: 14px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider_value_block input,
.slider_value_block input:checked {
    display: none;
}

.slider_value_block input + label {
    width: 65px;
    display: inline-block;
    position: relative;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    color: var(--color-black-blue);
    cursor: pointer;
    z-index: 1;
}

.slider_value_block input + label:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    left: 27px;
    bottom: 59px;
    background: var(--color-yellow);
    border-radius: 50%;
    z-index: 1;
}

.slider_value_block input + label:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    left: 12px;
    top: -47.5px;
    background: url('../../assets/icons/roller_icon.svg');
    transition: all 0.5s ease;
}

.slider_value_block input + label:hover:before {
    background: var(--color-orage-dark);
}

.slider_value_block input:not(:checked) + label:after {
    opacity: 0;
}

.slider_value_block input + label:hover,
.slider_value_block input:checked + label,
.slider_value_block input:checked + label:hover {
    color: var(--color-orange-light);
}

.donate_container_amount {
    margin-top: 47px;
    display: flex;
    justify-content: center;
}

.donate_amount {
    width: 256px;
    height: 50px;
    margin-left: 2px;
    padding-left: 10px;
    border: 1px solid var(--color-grey-milk);
    border-radius: 2px;
    background: url(../../assets/icons/dollar_icon.svg);
    background-repeat: no-repeat;
    background-position: center right+10px;
}

.donate_amount::-webkit-outer-spin-button,
.donate_amount::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.donate_amount[type=number] {
    -moz-appearance: textfield;
}

.donate_amount[type="number"]::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--color-grey-milk);
}

.donate_amount:focus {
    background: url(../../assets/icons/dollar_active_icon.svg);
    background-color: var(--color-light-grey);
    background-repeat: no-repeat;
    background-position: center right+10px;
    border: 1px solid var(--color-green);
    color: var(--color-green);
    outline: var(--color-green);
}

.donate_amount:focus:invalid {
    background: url(../../assets/icons/dollar_mistake_icon.svg);
    background-color: var(--color-light-grey);
    background-repeat: no-repeat;
    background-position: center right+10px;
    border: 1px solid var(--color-red);
    color: var(--color-red);
    outline: var(--color-red);
}

.donate_container_notes {
    margin-top: 27px;
    margin-left: -14px;
    display: flex;
    justify-content: space-evenly;
    gap: 48px;
}

.note_item input {
    display: none;
}

.note_item input:checked + label::after {
    transform: scale(1);
}

.note_item label {
    display: inline-flex;
    position: relative;
}

.note_item label::before {
    margin-right: 10px;
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-orange-light);
    border-radius: 50%;

}

.note_item label::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background: var(--color-green);
    border: 1px solid var(--color-green);
    border-radius: 50%;
    transform: scale(0);
}

.button_feed {
    margin-top: 28px;
    margin-left: 7px;
    background: var(--color-orange-gradient);
    border-radius: 25px;
}

.hint_share_text {
    margin-top: 30px;
    margin-left: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

/* -----FOOTER----- */
footer {
    position: relative;
    padding-top: 25px;
    background-color: var(--color-black-fog);
    display: flex;
    flex-direction: column;
}

.footer_header {
    display: flex;
    justify-content: space-between;
}

.footer_logo {
    margin-left: 0;
    margin-top: 0;
    position: relative;
    align-items: center;
}

.footer_bamboo_icon {
    position: absolute;
    margin-left: 10px;
    margin-top: 37px;
    width: 12px;
    height: 21px;
}

.footer_logo p {
    position: absolute;
    margin: 14px 0px 14px 0px;
    padding: 2px 0px 3px 0px;
    width: 82px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    font-size: 19.01px;
    line-height: 120%;
    border: 1px solid #fff;
}

.footer_logo p:hover {
    color: var(--color-grey-fog);
    transition: all 0.5s ease-in;
    border: 1px solid var(--color-grey-fog);
}

.form_subscribe {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 365px;
}

.form_subscribe p {
    margin: 0 0 14px 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #fff;
}

.input_block {
    display: flex;
    flex-direction: row;
}

.input_block input {
    width: 228px;
    padding-left: 7px;
    height: 38px;
    background-color: var(--color-black-fog);
    border: 0.7px solid var(--color-orange-light);
    border-radius: 2px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--color-grey-fog);
    outline: none;
}

.button_submit {
    margin-left: 5px;
    padding: 10px 39px;
    width: 129px;
    height: 42px;
    background: var(--color-light-grey);
    border: 1px solid var(--color-black-blue);
    border-radius: 5px;
    font-size: 16px;
    color: #000;
    text-transform: none;
}

.button_submit:hover {
    background: var(--color-grey-smoky);
}

.input_block input:focus {
    color: var(--color-green);
    border: 1px solid var(--color-green);
    background: var(--color-light-grey);
}

.input_block input:focus:invalid {
    color: var(--color-red);
    border: 1px solid var(--color-red);
    background: var(--color-light-grey);
}

.input_block input:focus + .button_submit {
    color: var(--color-green);
    border: 1px solid var(--color-green);
}

.input_block input:focus:invalid + .button_submit {
    color: var(--color-red);
    border: 1px solid var(--color-red);
}

.footer_content {
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 35px;
}

.footer_social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button_donate {
    background: var(--color-orange-gradient);
    border-radius: 5px;
}

.hidden_list {
    list-style-type: none;
    padding-left: 0;
}

.social_list {
    margin: 0;
}

.social_list a {
    display: flex;
    flex-direction: row;
    margin-top: -7px;
    padding: 0;
}

.social_list p {
    margin-top: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
}

.social_icon {
    margin-right: 12px;
    width: 26px;
    height: 26px;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 50%;
}

.social_list li:hover .social_icon  {
    background: var(--color-green);
}

.social_list li:hover p{
    color: var(--color-green);
}

.facebook_icon {
    margin-top: 5px;
    margin-left: 9px;
    width: 8px;
    height: 16px;
}

.twitter_icon {
    margin-top: 6px;
    margin-left: 5px;
    width: 16px;
    height: 14px;
}

.instagram_icon {
    margin-top: 5px;
    margin-left: 5px;
    width: 16px;
    height: 16px;
}

.youtube_icon {
    margin-top: 6px;
    margin-left: 4px;
    width: 18px;
    height: 12.99px;
}

.footer_nav {
    display: flex;
    flex-direction: row;
    margin-top: 210px;
    margin-left: -7px;
}

.footer_nav .nav_item {
    margin-left: 0;
    margin-right: 58px;
}

.footer_author {
    margin-top: 180px;
    font-weight: 100;
}

.footer_author p {
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 0;
}

.footer_author a {
    cursor: pointer;
    transition: all 0.5s ease-out;
    font-size: 16px;
    line-height: 130%;
    color: #fff;
}

.footer_author a:hover {
    color: var(--color-green);
    text-decoration: underline;
}

@media (max-width: 1599px) {
    .wrapper {
        width: 1160px;
        margin: 0 auto;
    }
}

@media (max-width: 1000px) {
    .wrapper {
        width: 940px;
        margin: 0 30px;
    }

     /* -----HEADER----- */

     header {
        position: sticky;
        z-index: 1;
    }

    .bamboo_icon {
        margin-left: 10px;
    }

    .nav_menu {
        margin-left: 98px;
    }

    .nav_item {
        margin: 29px 0px 29px 48px;
    }

    .designed_by {
        margin-left: 259px;
    }

    .backgroud_image {
        background-position: 30% 0%;
        background-size: cover;
        height: 390px;
    }

    /* -----PICK AND FEED----- */
    .pick_feed_block {
        padding-top: 30px;
        padding-bottom: 30px;
        background-size: 200%;
    }

    .pick_feed_info h3 {
        padding-right: 100px;
    }

    .pick_feed_info p {
        margin-top: 29px;
    }

    .pick_feed_content {
        margin-top: 40px;
        height: 918px;
    }

    .pick_feed_textblock  {
        margin-left: 40px;
        margin-bottom: 11px;
    }

    .pick_feed_textblock h2 {
        margin: 20px auto 10px 185px;
    }

    .pick_feed_textblock .subtitle {
        margin: 0px 45px 40px auto;
    }

    /* -----VALUE CONTAINER----- */
    .donate_container {
        margin-left: 1px;
        width: 810px;
        margin-top: 34px;
    }

    .donate_container_background {
        height: 29px;
    }

    .donate_container_line {
        width: 790px;
    }

    #value5000,
    #label5000 {
        display: none;
    }

    .slider_value_block input + label {
        width: 130px;
    }

    .slider_value_block input + label:before {
        left: 10px;
    }

    .slider_value_block input + label:after {
        left: -5px;
    }

    .donate_container_notes {
        gap: 49px;
    }

    .button_feed {
        margin-left: 5px;
    }

    .hint_share_text {
        margin-left: 5px;
    }

    /* -----FOOTER----- */

    .form_subscribe {
        margin-right: 33px;
    }

    .footer_nav {
        margin-left: -20px;
    }

    .footer_nav .nav_item {
        margin-right: 48px;
    }
}

@media (max-width: 640px) {
    .wrapper {
        width: 600px;
        margin: 0 20px;
    }

    /* -----HEADER----- */

    header {
        margin-top: -34px;
        position: fixed;
        height: 34px;
        z-index: 1;
    }

    .header_logo {
        margin-top: -13px;
        margin-left: -18px;
    }

    .bamboo_icon {
        margin-top: 31px;
        padding-left: 13px;
        width: 4.54px;
        height: 12.56px;
        transform: rotate(-10deg);
    }

    h1 {
        font-size: 12.2899px;
        border: none;
    }

    #nav_origin {
        display: none;
    }

    #burger_menu {
        display: flex;
        flex-direction: row;
        z-index: 1;
        margin-left: -197px;
    }

   .icon_burger {
        display: block;
        width: 18px;
        height: 10px;
        margin-top: 20px;
        margin-left: 135px;
        z-index: 100;
        top: 1rem;
        right: 1rem;
        padding: 4px;
        cursor: pointer;
    }

    .nav_burger {
        width: 640px;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        list-style: none;
        padding-top: 4rem;
    }

    .logo_container {
        margin-top: -35px;
        display: flex;
        flex-direction: row;
    }

    .logo_container .header_logo {
        position: relative;
        padding: 0;
        align-items: center;
        margin-top: 0px;
        margin-left: 0;
    }

    .logo_container .header_logo .bamboo_icon_orange  {
        position: absolute;
        margin-top: -10px;
        padding-left: 21px;
        width: 4.54px;
        height: 12.56px;
        transform: rotate(-10deg);
    }

    .logo_container .icon_burger {
        position: sticky;
        width: 18px;
        height: 10px;
        margin-top: -15px;
        margin-left: 600px;
        cursor: pointer;
    }

    .icon_burger:hover {
        box-shadow: 0 0 2px 2px rgba(249, 128, 75, 1);
        transition: all 0.5s ease-in;
    }

    .logo_title {
        position: absolute;
        margin: -20px 0px 14px 9px;
        padding: 2px 2px;
        width: 58px;
        color: var(--color-orange-light);
        font-weight: 400;
        text-align: center;
        font-size: 15.2116px;
        line-height: 120%;
        border: 1px solid var(--color-orange-light);
    }

    .nav_items {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .nav_item {
        display: block;
        color: var(--color-black-blue);
        margin-bottom: -14px;
        margin-left: 10px;
        text-decoration: none;
    }

    .show_menu {
        transform: translateY(0);
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        width: 640px;
        height: 265px;
        background: #fff;
    }

    .designed_by {
        margin-left: 10px;
    }

    .backgroud_image {
        margin-top: 34px;
        background-position: 37%;
        background-size: cover;
        height: 335px;
    }

    /* -----PICK AND FEED----- */
    .pick_feed_block {
        padding-top: 30px;
        padding-bottom: 46px;
        background-size: 230%;
    }

    .pick_feed_info h3 {
        margin-top: 0px;
        padding-right: 0px;
        font-size: 24px;
    }

    .pick_feed_info p {
        margin-top: 15px;
        margin-bottom: 28px;
    }

    h3.donation_title {
        font-size: 36px;
    }

    .pick_feed_content {
        margin-top: 30px;
        height: 918px;
    }

    .pick_feed_textblock  {
        margin-left: 4px;
        margin-bottom: 11px;
    }

    .pick_feed_textblock h2 {
        margin: 30px auto 10px 65px;
    }

    .pick_feed_textblock .subtitle {
        margin: 20px 5px 32px auto;
        text-align: center;
    }

    /* -----VALUE CONTAINER----- */
    .donate_container {
        margin-left: 1px;
        width: 600px;
        margin-top: 34px;
    }

    .donate_container_background {
        height: 28px;
    }

    .donate_container_line {
        width: 524px;
    }

    #value5000,
    #value2000,
    #value1000,
    #label5000,
    #label2000,
    #label1000 {
        display: none;
    }

    .slider_value_block label {
        top: -1px;
        left: 15px;
    }

    .slider_value_block input + label:before {
        left: 20px;
    }

    .slider_value_block input + label:after {
        left: 5px;
    }

    .donate_container_notes {
        gap: 49px;
    }

    .button_feed {
        margin-left: 5px;
    }

    .hint_share_text {
        margin-left: 5px;
    }

    .donate_container_title {
        margin: 6px auto 7px 10px;
    }

    .donate_container_amount {
        margin-top: 47px;
        display: flex;
        justify-content: center;
    }

    .donate_amount {
        width: 170px;
        height: 38px;
        margin-left: 0px;
        padding-left: 5px;
    }

    .donate_container_notes {
        margin-top: 32px;
        margin-left: -16px;
        gap: 52px;
    }

    .note_item label::before {
        margin-right: 9px;
        width: 13px;
        height: 13px;
    }

    .note_item label::after {
        width: 13px;
        height: 13px;
    }

    .button_feed {
        margin-top: 30px;
        margin-left: 2px;
    }

    .hint_share_text {
        margin-left: 0px;
    }

     /* -----FOOTER----- */
     footer {
        padding-left: 10px;
    }

    .footer_logo {
        margin-left: -10px;
        margin-top: -27px;
        position: relative;
        align-items: center;
    }

    .form_subscribe {
        display: none;
    }

    .footer_content {
        margin-top: 36px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 4px;
    }

    .footer_social {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .button_donate {
        margin-top: 36px;
        margin-left: -10px;
    }

    .social_list {
        display: flex;
        flex-direction: column;
        gap: 26px;
        margin-top: -40px;
        margin-left: 276px;
    }

    .social_list p {
        display: none;
    }

    .footer_nav {
        margin-top: 157px;
        margin-left: -643px;
        margin-right: 5px;
    }

    .footer_nav .nav_item {
        color: #fff;
        margin-right: 37px;
    }

    .footer_author {
        margin-top: 156px;
        margin-right: 10px;
    }
}

@media (max-width: 320px) {
    .desktop_wrapper {
        background-size: 142%;
        background-color: #fff;
    }

    .wrapper {
        width: 300px;
        margin: 0 10px;
    }

     /* -----HEADER----- */

     header {
        position: fixed;
        height: 34px;
        z-index: 1;
    }

    .header_logo {
        margin-top: -13px;
        margin-left: -18px;
    }

    .bamboo_icon {
        margin-top: 31px;
        padding-left: 13px;
        width: 4.54px;
        height: 12.56px;
        transform: rotate(-10deg);
    }

    h1 {
        font-size: 12.2899px;
        border: none;
    }

    #nav_origin {
        display: none;
    }

    #burger_menu {
        display: flex;
        flex-direction: row;
        z-index: 1;
        margin-left: -235px;
    }

   .icon_burger {
        display: block;
        width: 18px;
        height: 10px;
        margin-top: 21px;
        margin-left: 193px;
        z-index: 100;
        top: 1rem;
        right: 1rem;
        padding: 4px;
        cursor: pointer;
    }

    .nav_burger {
        width: 320px;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        list-style: none;
        padding-top: 4rem;
    }

    .logo_container {
        margin-top: -35px;
        display: flex;
        flex-direction: row;
    }

    .logo_container .header_logo {
        position: relative;
        padding: 0;
        align-items: center;
        margin-top: 0px;
        margin-left: 0;
    }

    .logo_container .header_logo .bamboo_icon_orange  {
        position: absolute;
        margin-top: -10px;
        padding-left: 21px;
        width: 4.54px;
        height: 12.56px;
        transform: rotate(-10deg);
    }

    .logo_container .icon_burger {
        position: sticky;
        width: 18px;
        height: 10px;
        margin-top: -15px;
        margin-left: 290px;
        cursor: pointer;
    }

    .icon_burger:hover {
        box-shadow: 0 0 2px 2px rgba(249, 128, 75, 1);
        transition: all 0.5s ease-in;
    }

    .logo_title {
        position: absolute;
        margin: -20px 0px 14px 9px;
        padding: 2px 2px;
        width: 58px;
        color: var(--color-orange-light);
        font-weight: 400;
        text-align: center;
        font-size: 15.2116px;
        line-height: 120%;
        border: 1px solid var(--color-orange-light);
    }

    .nav_items {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .nav_item {
        display: block;
        color: var(--color-black-blue);
        margin-bottom: -14px;
        margin-left: 10px;
        text-decoration: none;
    }

    .show_menu {
        transform: translateY(0);
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        width: 640px;
        height: 265px;
        background: #fff;
    }

    .designed_by {
        margin-left: 10px;
    }

    .backgroud_image {
        background-position: 33% 0%;
        background-size: cover;
        height: 187px;
    }

    /* -----PICK AND FEED----- */
    .pick_feed_block {
        padding-top: 30px;
        padding-bottom: 20px;
        background-size: 500%;
    }

    .pick_feed_info h3 {
        margin-top: 0px;
        padding-right: 0px;
        font-size: 24px;
        line-height: 120%;
    }

    .pick_feed_info p {
        margin-top: 20px;
        margin-bottom: 26px;
        line-height: 140%;
    }

    h3.donation_title {
        font-size: 24px;
    }

    .pick_feed_content {
        margin-top: 30px;
        height: 591px;
    }

    .pick_feed_textblock  {
        margin-left: 4px;
        margin-bottom: 11px;
    }

    .pick_feed_textblock h2 {
        margin: 20px auto 10px 30px;
        font-size: 24px;
    }

    .pick_feed_textblock .subtitle {
        margin: 10px 0px 0px -5px;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
    }

    .donate_diet {
        width: 300px;
    }

    .donate_diet_day {
        margin: 0;
        margin-top: 54px;
    }

    .donate_diet_day .diet_day_number {
        margin-top: 3px;
        margin-left: 33px;
        font-weight: 500;
        font-size: 40.6015px;
    }

    .donate_diet_day .diet_day_text {
        margin-top: 8px;
        margin-left: 0px;
        font-size: 9.02255px;
    }

    .pick_feed_x {
        width: 7px;
        height: 7px;
        margin: 63px 37px auto 6px;
    }

    .pick_feed_x img{
        width: 7px;
        height: 7px;
    }

    .pick_feed_image {
        margin-top: -2px;
        width: 160.15px;
        height: 138.72px;
    }

    .pick_feed_image img{
        width: 160.15px;
        height: 138.72px;
    }

     /* -----VALUE CONTAINER----- */
    .donate_container {
        margin-left: 1px;
        width: 300px;
        margin-top: 0px;
    }

    .donate_container_background {
        height: 13.5px;
    }

    .donate_container_line {
        width: 262px;
    }

    #value5000,
    #value2000,
    #value1000,
    #label5000,
    #label2000,
    #label1000 {
        display: none;
    }

    /* .slider_value_block input + label {
        width: 65px;
        display: inline-block;
        position: relative;
        font-weight: 500;
        font-size: 26px;
        line-height: 140%;
        color: var(--color-black-blue);
        cursor: pointer;
        z-index: 1;
    } */

    /* .slider_value_block input + label:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        left: 27px;
        bottom: 59px;
        background: var(--color-yellow);
        border-radius: 50%;
        z-index: 1;
    } */

    /* .slider_value_block input + label:after {
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        left: 12px;
        top: -47.5px;
        background: url('../../assets/icons/roller_icon.svg');
        transition: all 0.5s ease;
    } */

    .slider_value_block label {
        top: -10px;
        left: 6px;
    }

    .slider_value_block input + label {
        width: 65px;
        font-size: 13px;
    }

    .slider_value_block input + label:before {
        left: 10px;
        width: 5px;
        height: 5px;
        bottom: 28px;
    }

    .slider_value_block input + label:after {
        top: -22.5px;
        left: 3px;
        width: 40px;
        height: 40px;
        background-size: 20px 20px;
        background-repeat: no-repeat;
    }

    .donate_container_notes {
        gap: 48px;
    }

    .button_feed {
        margin-left: 5px;
    }

    .hint_share_text {
        margin-left: 5px;
    }

    .donate_container_title {
        margin: 4px auto 8px 0px;
    }

    .donate_container_amount {
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }

    .donate_amount {
        width: 170px;
        height: 38px;
        margin-left: 0px;
        padding-left: 5px;
    }

    .donate_container_notes {
        margin-top: 26px;
        margin-left: -17px;
        gap: 52px;
    }

    .note_item label::before {
        margin-right: 9px;
        width: 13px;
        height: 13px;
    }

    .note_item label::after {
        width: 13px;
        height: 13px;
    }

    .button_feed {
        margin-top: 28px;
        margin-left: 2px;
    }

    .hint_share_text {
        margin-left: 0px;
    }

    /* -----FOOTER----- */
    footer {
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 58px;
    }

    .footer_logo {
        margin-left: 75px;
        margin-top: -5px;
        margin-bottom: 40px;
        position: relative;
        align-items: center;
    }

    .footer_logo p {
        font-size: 19.0145px;
        border: none;
        text-align: center;
        width: 128px;
    }

    .footer_bamboo_icon {
        margin-top: 13px;
        margin-left: 72px;;
    }

    .form_subscribe {
        display: none;
    }

    .footer_content {
        margin-top: 36px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 4px;
    }

    .footer_social {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .button_donate {
        margin-top: 30px;
        margin-left: -11px;
    }

    .social_list {
        display: flex;
        flex-direction: row;
        gap: 18px;
        margin-top: 0px;
        margin-left: 43px;
    }

    .social_list p {
        display: none;
    }

    .footer_nav {
        margin-top: 80px;
        margin-left: 0px;
        margin-right: -31px;
    }

    .footer_nav .nav_item {
        color: #fff;
        margin-right: 31px;
    }

    .footer_author {
        margin-top: -102px;
        margin-left: 75px;
        margin-right: 0px;
    }

    .footer_author p {
        font-weight: 100;
        font-size: 15px;
        line-height: 120%;
    }
}